@import '../../styles/constants';

.main {
  display: flex;
  height: 100vh;
}

.smilies {
  margin-top: 4.4rem;
}

.left-container {
  background-color: $white;
  width: 100%;
  text-align: center;
}

.left-container__menu {
  text-align: left;
  padding-top: 2rem;
  padding-left: 2rem;
}

.left-container__title {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.4rem;
  letter-spacing: 0.3rem;
  color: $black;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.left-container__subtitle {
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 2rem;
}

.left-container__description {
  font-size: 0.87rem;
  line-height: 2rem;
  width: 20rem;
  margin: auto;
}

.left-container__link {
  font-size: 0.7rem;
  line-height: 1.3rem;
  text-align: center;
  letter-spacing: 0.165rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
 }

.errorMessage {
  color: $red;
  font-size: 0.75rem;
  margin-top: 1.4rem;
}

hr {
  width: 7.6rem;
}

.sign-in-container {
  margin-top: 3.125rem;
}